.acoes {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    flex-wrap: nowrap;
}

.acoes a {
    height: 50px;
    width: fit-content;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 0 15px;
    gap: 10px;

    text-decoration: none;
    color: #ffb000;
    background-color: #002650;

    font-size: 20px;
}


.acoes img {
    width: 35px;
    height: 35px;

    object-fit: contain;
}

.conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout {
    width: 40px;
    height: 40px;

    background: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    border: none;
}

.logout img {
    max-width: 40px;

    position: absolute;
}

#logout-hover {
    opacity: 0;
}

#logout-hover:hover {
    opacity: 1;
}

.perfil {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #001531;
}

.foto-perfil {
    width: fit-content;
    margin: 20px;
}

.foto-perfil img{
    display: block;
    width: 200px;
    border-radius: 20%;
}

.dados-perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nome-idade {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}

.localizacao {
    margin-top: 80px;
}

.status {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: end;
}

.status p, small {
    font-size: large;
}

#btn-redefinir{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin: 20px;
        width: fit-content;
        gap: 15px;
        border-radius: 30px;
        padding: 10px 15px;
        font-size: 30px;
    }

#btn-informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 20px;
    width: fit-content;
    gap: 15px;
}

#btn-midia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 20px;
    width: fit-content;
    gap: 15px;
}

#btn-registrar-certificado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 20px;
    width: fit-content;
}

.abas-perfil {
    background-color: #002657;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.abas-perfil span {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.info-juntas{
    display: flex;
    flex-direction: row;
    border-right: black;
    margin: 20px 0 20px 0;
    justify-content: space-between;
    align-items: center;
}

.informacoes {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.card-detalhes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.card-detalhes h2{
    margin-bottom: 20px;
}

.card-detalhes li{
    list-style: none;
}











