.texto {
    display: flex;
    align-items: center;
    background-color: #002650;
    padding: 12px 20px;
    border-radius: 35px;
}

.conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
}

.form-alterar-senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.form-alterar-senha div {
    gap: 15px;
}

.alterar-senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002650;
    padding: 12px 20px;
    border-radius: 35px;
}

.alterar-senha input{
    background-color:#001531;
    color:#ffb000;
}

.senha-atual,
.senha-nova,
.senha-confirmar{
    gap: 5px;
    display:flex;
    align-items: center;
}

.senha-atual > label,
.senha-nova> label,
.senha-confirmar> label{
    width: 130px;
    text-align: right;
}

#texto-conta{
    color: gray;
}

.btn-enviar {
    margin-top: 15px;
    font-size: 20px;
    border-radius: 25px;
    background-color: green;
    width: 70%;
    align-items: center;
    justify-items: center;
    color: white;
    height: 50px;
}